{% extends 'adminpanelbase.html' %}
{% block content %}
        <div class="form-container">
            <form action="/edit/{{jobdata.id}}" method="post">
                {% csrf_token %}
                <div class="jobtitle">
                    <label for="title">Job Title</label><br>
                    <input type="text" name="jobtitle" id="" value="{{jobdata.jobTitle}}">
                </div>
                <div class="jobdescription">
                    <label for="description">Description</label><br>
                    <textarea name="description" id="desc" cols="30" rows="10" >{{jobdata.jobDescription}}</textarea>
                </div>
                <div class="jobrequirement">
                    <label for="requirement">Requirement</label><br>
                   <textarea name="requirement" id="req" cols="30" rows="10" >{{jobdata.jobRequirement}}</textarea>
                </div>
                <div class="companyname">
                    <label for="companyname">Company Name</label><br>
                    <input type="text" name="companyname" id="" value="{{jobdata.companyName}}">
                </div>
                <div class="submit">
                    <input type="submit" value="Update" id="submit">
                </div>
            </form>
        </div>
        {% endblock %}
     